Repository la-ots/pelican, pull requests merged in 2022-02, with the labels that each got.

#97 Typography - page revision
  docs/foundation/typography.md
Labels: ready for review

#107 Update Home Page link on Home Page
  docs/index.njk
Labels: docs

#112 Header Fix - Dual Pane
  docs/hero-blocks/dual-pane.md
Labels: ready for review

#111 Update CTA Button at Home Page Bottom
  docs/index.njk
Labels: docs

#116 Bug - Spinner component w/h visual text
  docs/_includes/markup/spinner.njk
Labels: bug, ready for review
