Repository la-ots/pelican, pull requests merged in 2022-11, with the labels that each got.

#354 Adds arial-label to Prev Next buttons
  docs/_includes/markup/buttons-previous-next-page.njk
  docs/_includes/markup/page-title.njk
  docs/components/buttons-previous-next-page.md
  docs/components/page-title.md
Labels: v2

#360 Official Banner Focus Style
  scss/_focus.scss
Labels: ready for review, v2

#331 TOC updates
  build/.eleventy.js
  docs/_includes/markup/documentation-internal.njk
  docs/_includes/markup/documentation-public.njk
  docs/_includes/markup/sample-toc.njk
  docs/_includes/page-contents.njk
  package-lock.json
Labels: ready for review

#271 Update Page-title Content
  docs/components/page-title.md
Labels: documentation, ready for review
