Repository la-ots/pelican, pull requests merged in 2022-09, with the labels that each got.

#273 Bs5 test bootstrap updates
  docs/_includes/markup/alert-danger.njk
  docs/_includes/markup/alert-info.njk
  docs/_includes/markup/alert-success.njk
  docs/_includes/markup/alert-warning.njk
  docs/_includes/markup/channels.njk
  docs/_includes/markup/form-password-help.njk
  docs/_includes/markup/form-template-userid.njk
  docs/_includes/markup/modal.njk
  docs/_includes/markup/navbar-basic.njk
  docs/_includes/markup/navbar-iconic.njk
  docs/_includes/markup/navbar-search.njk
  docs/_includes/markup/official-banner.njk
  docs/_includes/markup/popovers.njk
  docs/_includes/markup/tabbed-content-rounded.njk
  docs/_includes/markup/tabbed-content-traditional.njk
  docs/_includes/markup/toast-danger.njk
  docs/_includes/markup/toast-info.njk
  docs/_includes/markup/toast-success.njk
  docs/_includes/markup/tooltips.njk
  docs/components/buttons.md
  docs/index.njk
  docs/js/default.js
  docs/test-page/index.md
  js/pelican.js
Labels: docs

#276 Breadcrumbs
  scss/_variables-default.scss
Labels: docs

#278 Button Container
  docs/_includes/markup/button-container.njk
Labels: docs

#275 Bs5 test - Add Classes
  docs/_includes/markup/alert-danger.njk
  docs/_includes/markup/alert-info.njk
  docs/_includes/markup/alert-success.njk
  docs/_includes/markup/alert-warning.njk
  docs/_includes/markup/channels.njk
  docs/_includes/markup/checkboxes.njk
  docs/_includes/markup/form-password-help.njk
  docs/_includes/markup/form-template-userid.njk
  docs/_includes/markup/input-file.njk
  docs/_includes/markup/modal.njk
  docs/_includes/markup/navbar-basic.njk
  docs/_includes/markup/navbar-iconic.njk
  docs/_includes/markup/navbar-search.njk
  docs/_includes/markup/official-banner.njk
  docs/_includes/markup/pagination.njk
  docs/_includes/markup/popovers.njk
  docs/_includes/markup/radios.njk
  docs/_includes/markup/select.njk
  docs/_includes/markup/switches-little.njk
  docs/_includes/markup/tabbed-content-rounded.njk
  docs/_includes/markup/tabbed-content-traditional.njk
  docs/_includes/markup/toast-danger.njk
  docs/_includes/markup/toast-info.njk
  docs/_includes/markup/toast-success.njk
  docs/_includes/markup/tooltips.njk
  docs/components/buttons.md
  docs/index.njk
  docs/test-page/index.md
Labels: ready for review, docs

#284 Footer
  docs/_includes/markup/footer-utility.njk
  scss/_footer.scss
Labels: docs

#287 Page title
  docs/_includes/markup/page-title.njk
Labels: docs

#286 Official banner
  docs/_includes/markup/official-banner.njk
  docs/index.njk
  scss/_custom.scss
Labels: docs

#294 Form templates
  docs/_includes/markup/form-password-help.njk
  docs/_includes/markup/form-required-message.njk
  docs/_includes/markup/form-template-address.njk
  docs/_includes/markup/form-template-contact.njk
  docs/_includes/markup/form-template-name.njk
  docs/_includes/markup/form-template-password.njk
  docs/_includes/markup/form-template-signin.njk
  docs/_includes/markup/form-template-userid.njk
  docs/migration-guide/index.md
Labels: docs

#297 Modal
  docs/_includes/markup/modal.njk
Labels: docs

#295 page template review
  docs/_includes/markup/error-public.njk
  docs/_includes/markup/landing-page.njk
  docs/migration-guide/index.md
  scss/_buttons.scss
  scss/_custom.scss
Labels: ready for review

#299 New Color Pallet
  docs/_includes/markup/hero-dual-pane.njk
  docs/_includes/markup/layout-grid.njk
  docs/_includes/markup/official-banner.njk
  docs/_includes/markup/pagination.njk
  docs/_includes/page-navigation.njk
  docs/_layouts/guide.njk
  docs/accessibility/color-contrast.md
  docs/components/cards.md
  docs/foundation/agency-theming.md
  docs/foundation/brand-colors.md
  docs/foundation/spacing.md
  docs/foundation/status-colors.md
  docs/foundation/ui-colors.md
  docs/index.njk
  scss/_alert.scss
  scss/_breadcrumb.scss
  scss/_buttons.scss
  scss/_card.scss
  scss/_custom.scss
  scss/_footer.scss
  scss/_hero.scss
  scss/_progress.scss
  scss/_reboot.scss
  scss/_tables.scss
  scss/_toasts.scss
  scss/_variables-agency.scss
  scss/_variables-default.scss
Labels: docs

#306 Home page tweaks
  docs/index.njk
  scss/_custom.scss
Labels: docs

#310 Font style classes
  docs/_includes/markup/form-template-address.njk
  docs/_includes/markup/official-banner.njk
  docs/_includes/markup/sample-typography.njk
  docs/accessibility/color-contrast.md
  docs/foundation/status-colors.md
  docs/foundation/typography.md
  docs/foundation/ui-colors.md
  docs/index.njk
  docs/test-page/index.md
Labels: docs

#308 Bs5 test - focus indicator
  docs/components/back-to-top-button.md
  scss/_custom.scss
  scss/_focus.scss
  scss/_mixins.scss
  scss/_nav.scss
Labels: ready for review

#313 Home hero id error
  docs/index.njk
Labels: docs

#316 Text decoration link
  scss/_reboot.scss
Labels: docs

#318 Bs5 test - checkbox/radio tile
  docs/form-controls/checkbox-tiles.md
  docs/form-controls/inputs.md
  docs/form-controls/radio-tiles.md
  docs/form-controls/radios.md
  docs/form-controls/select.md
  docs/form-controls/switches.md
  docs/form-controls/textarea.md
  docs/form-controls/toggle-tokens.md
  scss/_custom-forms.scss
Labels: ready for review

#319 Bs5 test - redirect buttons
  scss/_reboot.scss
Labels: ready for review

#330 Bs5 test - toc
  build/.eleventy.js
  docs/_includes/markup/documentation-internal.njk
  docs/_includes/markup/documentation-public.njk
  docs/_includes/markup/sample-toc.njk
  docs/_includes/page-contents.njk
Labels: ready for review

#336 Update version number
  package-lock.json
  package.json
Labels: ready for review
