Repository la-ots/pelican, pull requests merged in 2022-05, with the labels that each got.

#175 Replace inline skiplink markup with partial
  docs/_includes/markup/app-screen.njk
  docs/_includes/markup/skip-link.njk
  docs/_includes/skip-link.njk
  docs/_layouts/default-internal.njk
  docs/_layouts/default-minimal.njk
  docs/_layouts/default-public-banner.njk
  docs/_layouts/default-public.njk
  docs/_layouts/default.njk
  docs/_layouts/quick.njk
Labels: ready for review

#179 cards typos fixed
  docs/components/card.md
  docs/components/data-tile.md
Labels: ready for review

#184 Adds sidebar as a documentation item
  docs/_includes/markup/sidebar-nav.njk
  docs/components/app-screen.md
  docs/components/sidebar-nav.md
  docs/components/skip-link.md
  docs/components/table.md
  docs/components/toasts.md
  docs/img/illustrations/illus-sidebar-nav.svg
Labels: ready for review

#180 Removes rules in site.css
  docs/_includes/markup/loading.njk
  docs/_layouts/base.njk
  docs/css/prism-theme.css
  docs/css/site.css
  docs/index.njk
  scss/_bg-texture.scss
  scss/_custom.scss
  scss/_reboot.scss
  scss/pelican.scss
Labels: ready for review, docs

#182 Test page created
  docs/_includes/markup/component-collapse.njk
  docs/_includes/markup/sample-table.njk
  docs/_includes/markup/sample-toc.njk
  docs/_includes/markup/sample-typography.njk
  docs/_includes/markup/table.njk
  docs/_includes/markup/tooltips.njk
  docs/_layouts/test-page.njk
  docs/test-page/index.md
  scss/_card.scss
  scss/_feature.scss
Labels: ready for review

#177 Typos fixed
  docs/_includes/form-guidelines.njk
  docs/_includes/markup/input-date-picker.njk
  docs/_includes/markup/radios.njk
  docs/_includes/markup/share-social.njk
  docs/accessibility/accessibility-statement.md
  docs/accessibility/checklist.md
  docs/accessibility/keyboard.md
  docs/accessibility/skip-link.md
  docs/components/cards.md
  docs/components/content_container.md
  docs/components/pagination.md
  docs/components/progress.md
  docs/components/skip-link.md
  docs/components/toasts.md
  docs/feature-blocks/call-to-action-double.md
  docs/feature-blocks/call-to-action-single.md
  docs/feature-blocks/set.md
  docs/form-controls/checkboxes.md
  docs/form-controls/inputs.md
  docs/form-controls/radios.md
  docs/form-controls/select.md
  docs/form-controls/switches.md
  docs/form-controls/toggle-tokens.md
  docs/foundation/agency-theming.md
  docs/foundation/brand-colors.md
  docs/foundation/icons.md
  docs/foundation/images.md
  docs/foundation/links.md
  docs/foundation/spacing.md
  docs/foundation/status-colors.md
  docs/foundation/typography.md
  docs/foundation/ui-colors.md
  docs/foundation/voice-and-tone.md
  docs/resources/index.md
Labels: ready for review

#193 Dependency Updates from Dependabot
  package-lock.json
  package.json
Labels: dependencies

#201 Update for 1.1.0 Release
  docs/whats-new/index.md
  package.json
Labels: ready for review

#205 Spacer Restoration
  docs/_includes/markup/feature-icons-text.njk
  docs/_includes/markup/feature-many-icons.njk
  docs/_includes/markup/form-template-address.njk
  docs/_includes/markup/form-template-contact.njk
  docs/_includes/markup/form-template-name.njk
  docs/_includes/markup/form-template-password.njk
  docs/_includes/markup/form-template-signin.njk
  docs/_includes/markup/form-template-userid.njk
  docs/_includes/markup/landing-page.njk
  docs/_includes/markup/layout-grid.njk
  docs/_includes/markup/official-banner.njk
  docs/_includes/markup/pagination.njk
  docs/_includes/markup/tabbed-content-rounded.njk
  docs/_includes/markup/tabbed-content-traditional.njk
  docs/_layouts/area-page.njk
  docs/_layouts/human-sitemap.njk
  docs/foundation/agency-theming.md
  docs/foundation/brand-colors.md
  docs/foundation/images.md
  docs/foundation/links.md
  docs/foundation/spacing.md
  docs/foundation/status-colors.md
  docs/foundation/ui-colors.md
  docs/index.njk
  docs/test-page/index.md
  scss/_variables-default.scss
Labels: docs

#206 Release 1.1.1 Preparation
  docs/whats-new/index.md
  package.json
Labels: ready for review

#212 V2 bug - font weight
  scss/_custom.scss
  scss/_sidebar.scss
  scss/_type.scss
Labels: bug, ready for review

#215 V2 bug - table caption
  docs/_includes/markup/table.njk
Labels: bug, ready for review

#213 V2 bug - breadcrumb spacing
  docs/_includes/markup/breadcrumbs.njk
Labels: bug, ready for review
