Repository la-ots/pelican, pull requests merged in 2023-09, with the labels that each got.

#460 [v1] Package Updates
  package-lock.json
  package.json
Labels: ready for review, v1

#459 [v2] Updating Package Versions
  docs/_includes/header.njk
  package-lock.json
  package.json
Labels: ready for review, v2

#462 [v1] Update Workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docs-production.yml
  .github/workflows/docs-sandbox.yml
  .github/workflows/docs-vnext.yml
  .github/workflows/label-maker.yml
  .github/workflows/release.yml
Labels: ready for review, v1

#463 [v2] Workflow Updates
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docs-production.yml
  .github/workflows/docs-sandbox.yml
  .github/workflows/docs-vnext.yml
  .github/workflows/label-maker.yml
  .github/workflows/release.yml
Labels: ready for review, v2

#469 [v1] Package Updates
  package-lock.json
  package.json
Labels: v1

#253 Update link text to be accessible
  docs/_includes/page-navigation.njk
  docs/_layouts/area-page.njk
  docs/_layouts/human-sitemap.njk
  docs/components/cards.md
  docs/components/popovers-tooltips.md
  docs/components/progress.md
  docs/feature-blocks/set.md
  docs/feedback/index.md
  docs/foundation/icons.md
  docs/foundation/links.md
  docs/foundation/specific-images.md
  docs/foundation/typography.md
  docs/foundation/ui-colors.md
  docs/index.njk
  docs/introduction/considerations.md
  docs/introduction/credits.md
  docs/page-templates/404-page.md
  docs/page-templates/documentation-page.md
  docs/page-templates/error-page.md
  docs/page-templates/item-details-page.md
  docs/page-templates/landing-page.md
  docs/resources/index.md
Labels: documentation, ready for review, docs

#384 P1 a11y tweaks
  docs/_includes/markup/footer-basic.njk
  docs/_includes/markup/footer-utility.njk
  docs/_includes/markup/pagination.njk
  docs/index.njk
  package-lock.json
  package.json
Labels: docs

#434 [v1] Adds Underlines and double underlines
  docs/_includes/markup/back-to-top.njk
  docs/_includes/markup/button-back-to-top.njk
  docs/css/site.css
  docs/whats-new/index.md
  package-lock.json
  package.json
  scss/_breadcrumb.scss
  scss/_buttons.scss
  scss/_nav.scss
  scss/_reboot.scss
  scss/_sidebar.scss
Labels: v1

#481 [v2] Update Packages to Latest Versions
  package-lock.json
  package.json
  scss/pelican.scss
Labels: ready for review, v2

#482 Version Update Banner
  docs/index.njk
Labels: docs

#426 V1 Version Switcher
  docs/_includes/header.njk
  docs/index.njk
  scss/_custom.scss
Labels: docs

#483 V2 Get Started Banner
  docs/index.njk
Labels: v2

#492 Update Info Darker Hex Value
  docs/foundation/status-colors.md
Labels: v2

#486 V2 Update tab border color
  scss/_nav.scss
Labels: v2

#487 V2 Update Official Banner
  scss/_official-banner.scss
Labels: v2

#488 V2 Table Stripes
  scss/_default-theme-variables.scss
  scss/_tables.scss
Labels: v2

#489 V2 List Group Background Color
  scss/_default-theme-variables.scss
  scss/_list-group.scss
Labels: v2

#490 V2 Area Page Tweaks
  docs/_layouts/area-page.njk
  docs/css/site.css
Labels: docs, v2

#494 [v1] Updating Docs to Handle Version Switcher
  .github/workflows/docs-v1-production.yml
  .github/workflows/docs-v1-test.yml
  build/.eleventy.js
  docs/_includes/breadcrumbs.njk
  docs/_includes/header.njk
  docs/_includes/page-navigation.njk
  docs/_includes/sidebar-internal.njk
  docs/_includes/sidebar.njk
  docs/_layouts/human-sitemap.njk
  docs/index.njk
  docs/sitemap.njk
  package-lock.json
  package.json
Labels: ready for review, docs

#495 [v2] Update Versioning on v2
  docs/_includes/header.njk
  docs/index.njk
Labels: ready for review, docs
